/* FloatingLogo.module.css */

.logo {
  position: fixed;
  top: 4rem;             /* M치s arriba en desktop */
  transform-origin: top left;
  z-index: 50;
  pointer-events: none;
  user-select: none;
  transition: top 0.7s ease-in-out, transform 0.7s ease-in-out;
  width: 500px;          /* Desktop */
  height: auto;
  transform: scale(1);   /* tama침o inicial en home */
    transition: all 0.3s ease;

}

.logoScrolled {
  top: 0.5rem;
  transform: scale(0.2); /* Al hacer scroll solo reduce un poco */
}

@media (max-width: 1024px) {
  .logo {
    width: 320px;      /* Tablet */
    top: 2.5rem;       /* m치s arriba que antes */
  }
  .logoScrolled {
    top: 0.5rem;
    transform: scale(0.3);
  }
}

@media (max-width: 768px) {
  .logo {
    width: 160px;
    top: 2.5rem;
  }
  .logoScrolled {
    top: 0.5rem;
    transform: scale(0.35);
  }
}

/* Mobile muy peque침o (ej. menos de 480px) */
@media (max-width: 480px) {
  .logo {
    width: 140px;
    top: 0.5rem;
  }
  .logoScrolled {
    top: 0.5rem;
    transform: scale(0.55);
  }
}