@import "tailwindcss";

:root {
  --background: #FFFDF9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF9;
    --foreground: #171717;
  }
}
/* Tu CSS global */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-familjen-grotesk), var(--font-darker-grotesque), var(--font-inter), sans-serif;
}

p {
  font-family: var(--font-inter), sans-serif;
}

.container {
  width: 100%;
  max-width: calc(100% - 7.5rem); /* 120px converted to rem */
  margin-left: auto;
  margin-right: auto;
}

/* globals.css */
.custom-scrollbar {
  scrollbar-width: auto;
  /* Firefox */
  scrollbar-color: #000000 #f5f5f5;
  /* Firefox */
}

/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 14px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border: 12px solid #eaeaea;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes marquee-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
    /* cuando dupliques el contenido */
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes marquee-infinite {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee-infinite {
  animation: marquee-infinite 40s linear infinite;
  will-change: transform;
}

/* Usa estas clases para izquierda o derecha */
.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
  will-change: transform;
}

.animate-marquee-right {
  animation: marquee-right 40s linear infinite;
  will-change: transform;
}

.animate-marquee-right:hover {
  animation-play-state: paused;
}

/* Estilo minimal para el scrollbar del texto en desktop */
.custom-scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Para Chrome/Safari/Edge */
.custom-scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
  border: 2px solid transparent;
  /* Espaciado entre thumb y track */
  background-clip: content-box;
}

.custom-scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.logo-draw {
  width: 100%;
  height: auto;
}

.logo-path {
  stroke-dasharray: 1000;
  /* depende del largo del path */
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

label {
  font-family: var(--font-darker-grotesque), sans-serif;
  font-weight: 600;
  font-size: 20px;
}